{% extends './header.html' %}
  {% load static %}
  {% block body1 %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">POST name</th>
        <th scope="col">Company name</th>
        <th scope="col">Deadline</th>
        <th scope="col">POC</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      {% for post in appliedposts %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td><strong>{{post.applied_post}}</strong></td>
          <td>{{post.applied_post.comp}}</td>
          <td>{{post.applied_post.deadline}}</td>
          <td>{{post.applied_post.comp.poc}}</td>
          <td><a href="../viewapply/{{post.id}}">View</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<style>
    .table{
  max-width: 1400px;
  margin: auto;
  margin-top: 2rem;
}
</style>
  {%endblock%}