{% extends './header.html' %}
  {% load static %}
  {% block body1 %}
  <!-- <div class="home-body">
    <div class="sidebar-container">
      <div class="side-bar">
        <a href="/">All companies</a>
        <a href="/">Eligible companies for you</a>
        <a href="/">applied comany</a>
        <a href="/">Watchlist</a>
        {% if special_access %}
          <a href="/addpoc">Give user access</a>
          <a href="/addcomp">Add company</a>
        {% endif %}
      </div>
    </div> -->
      <div class="home-body-main">
        <div class="home-body-main-body">
          <div class="home-box">
            <h6>Number of posts you can apply for</h6>
            <h1>{{length}}</h1>
          </div>
          <div class="home-box">
            <h6>CGPA</h6>
            <h1>{{request.user.profile.student_cgpa}}</h1>
          </div>
          <div class="home-box">
            <h6>Branch</h6>
            <h1>{{request.user.profile.choose_branch}}</h1>
          </div>
        </div>
        <div class="table-header">
          <h2>List of all the posts that you are eligible to apply: </h2>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Post</th>
              <th scope="col">Company</th>
              <th scope="col">Package</th>
              <th scope="col">Application deadline</th>
              <th scope="col">POC</th>
              <th scope="col">action</th>
            </tr>
          </thead>
          <tbody>
            {% for post in posts %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><strong>{{post.post.role.upper}}</strong></td>
                <td>{{post.post.comp}}</td>
                <td>{{post.post.package}} L</td>
                <td>{{post.post.deadline}}</td>
                <td>{{post.post.comp.poc}}</td>
                <td><a href="../viewpost/{{post.post.id}}">View</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>


  <style>

.home-body{
  display: flex;
}
.sidebar-container{
  min-width: 10rem;
  width: 15%;
  height: 100vh;
  background: white;
  margin-top: 1rem;
}
.side-bar{
  margin-top: 1rem;
  display: grid;
  background: white;
  height: min-content;
}
.side-bar>a{
  text-decoration: none;
  padding: 5%;
  border-width: thin;
  color: rgb(71, 71, 71);
  font-weight: 700;

}
.side-bar>a:hover{
  background: rgb(231, 231, 231);
}

.table-header{
  max-width: 1500px;
  background: white;
  padding: 1rem;
  margin-top: 2rem;
}
.table-header>h2{
  padding: 0.5rem;
  padding-left: 2rem;
  border-left: solid;
  border-width: thick;
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgb(142, 86, 156);
  border-color: rgb(57, 15, 71);
}

.home-body-main{
  max-width: 1500px;
  margin: auto;
  margin-top: 5rem;
}
.home-body-main-body{
  display: flex;
  max-width: 1500px;
  margin: auto;
  margin-top: 2rem;
  gap:2rem;
}
.home-box{
  background: white;
  width: 25rem;
  padding: 2rem;
  display: grid;
  filter: drop-shadow(0 0 0.5rem rgb(79, 79, 221));
}

.table{
  max-width: 1500px;
  margin: auto;
  margin-top: 0.5rem;
}
  </style>
{% endblock %}
